* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  line-height: 1.4;
  background: rgb(87, 83, 83);
  height: 100vh;
}

.form-box {
        min-width: 100%;
    height: 100vh;
    margin: 0vw;
    padding: 5vw ;
    position:relative; 
}

.form-box h5{
    font-size: 35px ;
    text-align: center;
    color: #b5adffe0;
    margin: 0 0 .5vh 0;
}

.form-box div {
    font-size: 14px ;
    text-align: left;
    color: #b5adffe0;
    margin: 0 0 .5vh 0;
}

.form-box label{
    display: block;
    text-align: left;
    font-size: 25px;
    color: #6958ffe0;
    margin: 0 0 2vh 0;
}

textarea:focus, input:focus {
    color: #6958ffe0;
}

.clearBtn, .addBtn{
    display: inline-block;
    width: 30%;
    height: 2rem;
    color: #b5adffe0;
    background-color: #444;
    border: 0;
    bottom: 0;
    cursor: pointer;
    font-size: 20px;
    position:absolute;

}

.clearBtn{
    margin: 1rem 0 1rem 0;
    border-radius: 20px 20px 20px 20px; 
}

.addBtn{
    margin: 1rem 0 1rem 8rem;
    margin-left: 52%;   
    border-radius: 20px 20px 20px 20px; 
}

.addBtn:hover, .clearBtn:hover{
    background-color: rgb(89, 92, 109);
    transition: 1s background ease;
}

#float-label {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  position: relative;
}

#float-label input {
    display: block;
    width: 100%;
    height: 56px;
    padding: 14px 16px 0px 10px;
    margin: .9vw 0 ;
    background-color: #444;
    border-color: #444;
    border-radius: 5px;
    font-size: 20px;
    text-align: left;
}

#float-label label {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 12px;
  color: #999;
  pointer-events: none;
  position: absolute;
  transform: translate(0, 26px) scale(1);
  transform-origin: top left;
  transition: all 0.2s ease-out;
}

#float-label:focus-within label {
  transform: translate(0, 12px) scale(0.75);
}

input[id=cb-strike] {
  display: none;
}

input[id=cb-strike]:checked~p.strikethrough {
  text-decoration: line-through;
}

.label1 {
  border: thin solid rgb(145, 145, 145);
  background-color: rgb(191, 151, 255);
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
  margin-top: 5px;
}